
h1 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <900>;
  font-style: normal;
}
h3 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <900>;
  font-style: normal;
}
